# tmp and build
__pycache__/
tmp/
*~
\#*\#

# dependencies
node_modules/
.venv/

# testing
coverage/
.tox/
.coverage
.eslintcache

# production
build/
lib/

# misc
.DS_Store
node_modules
.vscode
.npmrc
